
  <header>
    <section>
      <div class="navbar-header">
        <img src="/public/js/img/nv_1683768493006.png" class="infoman"/>
        <h1>invoicer</h1>
      </div>
    </section>
    <input type="checkbox" id="navi-toggle" class="circlecheck"/>
      <label for="navi-toggle" class="burger">
        <span class="buns"></span>
      </label>
    <div class="background"></div>
    <nav class="nav">
      <ul class="list" id="hamburgerfont">
        <li class="item"><a class="link" href="/homepage">Home</a></li>
        <li class="item"><a class="link" href="/addinvoice">Add Invoice</a></li>
        <li class="item"><a class="link" href="/addwholesaler">Add Wholesaler</a></li>
        <li class="item"><a class="link" href="/invoicelogs">View/Upload Invoices</a></li>
      </ul>
    </nav>
    <div class="toggle"></div>
    <div class=":sidebar"></div>
  </header>


