<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">invoicer</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/addinvoice">Add Invoive</a></li>
      <li><a href="/addwholesaler">Add Wholesaler</a></li>
      <li><a href="invoicelogs">View All Invoices</a></li>
      <li><a href="#">Upload Invoices</a></li>
    </ul>
  </div>
</nav>