  <header>
    <section>
      <div class="navbar-header">
        <h1>invoicer</h1> 
      </div>
    </section>
    <input type="checkbox" id="navi-toggle" class="circlecheck"/>
      <label for="navi-toggle" class="burger">
        <span class="buns"></span>
      </label>
    <div class="background"></div>
    <nav class="nav">
      <ul class="list" id="hamburgerfont">
        <li class="item"><a class="link" href="home-page">Home</a></li>
        <li class="item"><a class="link" href="invoice-link">Add Invoice</a></li>
        <li class="item"><a class="link" href="add-wholesaler">Add Wholesaler</a></li>
        <li class="item"><a class="link" href="view-invoices">View/Upload Invoices</a></li>
      </ul>
    </nav>
  </header>


