<link rel="stylesheet" href="./style.css" />

<h1>Welcome to Invoicer!</h1>

<div class= 'container'>
  <p><a href="/addinvoice" class="button-link">Add Invoice</a></p> 
    
   <p><a href="/addwholesaler" class="button-link">Add Wholesaler</a></p> 
    
   <p><a href="/logs" class="button-link">View All Invoices</a></p> 
</div>
