<link rel="stylesheet" href="./style.css" />

<h1>Welcome to Invoicer!</h1>

<div class="outer-container">
  <div>
    <img src="./invoicerre.png" class="manlyman"/>
  </div>
  <div class="container">
    <div id="wholesaleBtn"><button>Add New Wholesaler</button></div>
    <div id="invoiceBtn"><button>Add New Invoice</button></div>
    <div id="viewBtn"><button>View All Invoices</button></div>
  </div>
  <div>
    <img src="./invoicerre.png" class="manlyman"/>
  </div>
</div>
