<link rel="stylesheet" href="/css/style.css">

<h1>Welcome to Invoicer!</h1>

<div class="container">
        <div class="row">
            <div class="col-sm-8" id="centerBtn">
                <p><a href="/addinvoice" class="button-link" >Add Invoice</a></p>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8" id="centerBtn">
               <p><a href="/addwholesaler" class="button-link" >Add Wholesaler</a></p> 
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8" id="centerBtn">
            <p><a href="/invoicelogs" class="button-link" >View All Invoices</a></p> 
            </div>
            <div class="col-sm-4">
            </div>
        </div>
  </div>
   

