<h1>Confirmation of Payment </h1>

<div>
    <form id="invoice-img">
        <label for="image-name">Invoices #</label>
        <input type = 'text' id="image-name">
        <button id="upload_widget" class="cloudinary-button">Upload files</button>
        <button type="submit">Submit</button>
    </form>
</div>
<!--Information for Pyment Confirmation
<div>
    <form id="confirmation">
        <label for="confirmation-input">Confirmion</label>
            <input type="checkbox" id="confirm-type" name="Paid" value="true" /> 
            <input type="checkbox" id="confirm-type" name="Pending" value="true" /> 
        <label for="payment-type">Payment Type</label>
            <input type="checkbox" id="confirm-type" name="Check" value="true" /> 
            <input type="checkbox" id="confirm-type" name="Wired" value="true" />
            <input type="checkbox" id="confirm-type" name="Cash" value="true" /> 
        <label for="payment-date">Payment Made</label>
        <input type = 'text' id="payment-date">

    </form>
</div> 
-->



