<h1>Upload Invoive Image </h1>

<div>
    <form id="invoice-img">
        <label for="image-name">Invoices #</label>
        <input type = 'text' id="image-name">
        <button id="upload_widget_multiple" class="cloudinary-button">Upload files</button>
        <button type="submit">Submit</button>
    </form>
</div> 
{{!-- <img src="https://res.cloudinary.com/kirikiri/image/upload/v1683998560/v6fvcb9swrgtalf86krd.jpg"/> --}}
<div class="img-container">

</div>
<!--Information for Payment Confirmation
<div>
    <form id="confirmation">
        <label for="confirmation-input">Confirmion</label>
            <input type="checkbox" id="confirm-type" name="Paid" value="true" /> 
            <input type="checkbox" id="confirm-type" name="Pending" value="true" /> 
        <label for="payment-type">Payment Type</label>
            <input type="checkbox" id="confirm-type" name="Check" value="true" /> 
            <input type="checkbox" id="confirm-type" name="Wired" value="true" />
            <input type="checkbox" id="confirm-type" name="Cash" value="true" /> 
        <label for="payment-date">Payment Made</label>
        <input type = 'text' id="payment-date">

    </form>
</div> 
-->

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script src="/js/images.js"></script>

