<h2>{{user.username}}</h2>

<h1>Add an Invoice</h1>
    <div>
        <form id="invoice-form">
            <label for="invoice_id">Invoice #: </label>
            <input type="text" id="invoice_id">
            <label for="wholesaler">Wholesaler Name: </label>
            <input type="text" id="wholesaler">
            <label for="descripton">Description: </label>
            <input type="text" id="descripton">
            <label for="pay_amount">Amount: </label>
            <input type="text" id="pay_amount">
            <label for="pay_date">Pay by Date: </label>
            <input type="text" id="pay_date">
            <label for="department_id">Department #: </label>
            <input type="text" id="department_id">
         </form>
    </div>

<p><button type="submit">Submit</button></p>
<p><a href="/logs" class="button-link">View All Invoices</a></p>
<p><a href="/images" class="button-link">Upload Invoice</a></p>  
<p><a href="/homepage" class="button-link">Home</a></p> 


<script src = 'public\js\invoiceForm.js'></script>