<h2>{{user.username}}</h2>

<h1>Add an Invoice</h1>
    <div>
        <form id="invoice-form">
            <label for="invoice_id">Invoice #: </label>
            <input type="text" id="invoice_id">
            <label for="wholesaler">Wholesaler Name: </label>
            <input type="text" id="wholesaler">
            <label for="descripton">Description: </label>
            <input type="text" id="descripton">
            <label for="amount">Amount: </label>
            <input type="text" id="amount">
            <label for="payby">Pay by Date: </label>
            <input type="text" id="payby">
            <label for="department">Department: </label>
            <input type="text" id="department">
         </form>
    </div>

<button type="submit">Submit</button>
<a href="views\logs.handlebars" class="button-link">View All Invoices</a>

<script src = 'public\js\invoiceForm.js'></script>