<h2>{{user.username}}</h2>

<h1>Add an Invoice</h1>
    <div>
        <form id="invoice-form">
            <label for="invoice_id">Invoice #: </label>
            <input type="text" id="invoice_id">
            <label for="wholesaler">Wholesaler Name: </label>
            <input type="text" id="wholesaler">
            <label for="descripton">Description: </label>
            <input type="text" id="descripton">
            <label for="amount">Amount: </label>
            <input type="text" id="amount">
            <label for="payby">Pay by Date: </label>
            <input type="text" id="payby">
            <label for="department">Department: </label>
            <input type="text" id="department">
         </form>
    </div>

<p><button type="submit">Submit</button></p>
<p><a href="views\invoice.handlebars" class="button-link">View All Invoices</a></p>
<p><a href="views\images.handlebars" class="button-link">Upload Invoice</a></p>  
<p><a href="views\homepage.handlebars" class="button-link">Home</a></p> 


<script src = 'public\js\invoiceForm.js'></script>