<div>

    <h1>Login</h1>
    <form id="login-form">
        <label for="login-username-input">Username</label>
        <input type="text" id="login-username-input">
        <label for="login-password-input">Password</label>
        <input type="password" id="login-password-input">
            <button type="submit" />Submit</button>
    </form>

</div>

<div>

    <h1>Sign Up</h1>
    <form id="signup-form">
        <label for="signup-username-input">Username</label>
        <input type="text" id="signup-username-input">
        <label for="signup-password-input">Password</label>
        <input type="password" id="signup-password-input">
            <button type="submit" />Submit</button>
    </form>
</div>


<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>

