<div>

    <h1>Login</h1>
    <form id="login-form">
        <label for="username-input">Username</label>
        <input type="text" id="username-input">
        <label for="password-input">Password</label>
        <input type="password" id="password-input">
            <button type="submit" onClick="homeFunction()"/>Submit</button>
    </form>

</div>

<div>

    <h1>Sign Up</h1>
    <form id="signup-form">
        <label for="username-input">Username</label>
        <input type="text" id="username-input">
        <label for="password-input">Password</label>
        <input type="password" id="password-input">
            <button type="submit" onClick="homeFunction()"/>Submit</button>
    </form>
</div>


<script src="public\js\login.js"></script>
<script src="public\js\signup.js"></script>

