<h1>Add a Wholesaler!</h1>

<div class = 'addWholeSaler'>
    <label for="business_name">
        Business Name
    </label>
    <br />
    <textarea id="business_name" name="business_name" rows="5" cols="'30">

    </textarea>

    <label for="email_name">
        Email
    </label>
    <br />
    <input type="email" id="email" size="30" required>

    <label for="phone_name">
        Phone Number
    </label>
    <br />
   <input type="tel" id="phone" name="phone"
       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
       required>
    
    
</div>

<button type='submit' value="submit">Create</button>
<button class="nextBtn" type="button">Next</button>

