<link rel="stylesheet" href="./style.css">

<h1>Add a Wholesaler!</h1>

<div class = 'addWholeSaler'>
    <form id="wholesaler-form">
    <label for="wholesaler">Wholesaler Name: </label>
            <input type="text" id="wholesaler">
    <label for="email">Email: </label>
            <input type="email" id="email" size="30" required>
    <label for="phonenumber">Phone Number: </label>
            <input type="tel" id="phone" name="phone"
       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
       required>
       <button type="submit">Submit</button>
    </form>
    
</div>


<p><a href="invoice" class="button-link">Add Invoice</a></p> 
<p><a href="homepage" class="button-link">Home</a></p> 

<script src = './js/wholesalerForm.js'></script>