header {
  background-color: rgba(137, 157, 142, 0.7);
  
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 2%;
  
}

img {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

}

#nav {
  background-color: rgb(28, 37, 32);
  color:rgb(161, 181, 166);
  margin-bottom: 25px;
  border-style: solid;
  border-radius: 50px;
  
}

body {
  background-color: rgb(215, 214, 216);
}

#centerBtn {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 0 50px 0 50px;
  margin: 5px;
  padding: 2%;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgb(151, 151, 151);
}

each {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}